<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>

<h3>Login Page</h3>
<form action="#" th:action="@{/authenticateTheUser}" method="POST">

    <div th:if="${param.error}">
        <i class="error">You entered the wrong credentials.</i>
    </div>

    <p>
        User name: <input type="text" name="username"/>
    </p>

    <p>
        Password: <input type="text" name="password">
    </p>

</form>

</body>
</html>